## Data Engineering Capstone Project

### Project Summary

#### Introduction

A core responsibility of The National Travel and Tourism Office (NTTO) is to collect, analyze, and disseminate international travel and tourism statistics. 

NTTO's Board of Managers are charged with managing, improving, and expanding the system to fully account and report the impact of travel and tourism in the United States. The analysis results help to forcecast and operation, support make decision creates a positive climate for growth in travel and tourism by reducing institutional barriers to tourism, administers joint marketing efforts, provides official travel and tourism statistics, and coordinates efforts across federal agencies.

#### Project Description
The target of project is analysis the relationship between amount of travel immigration and weather duration by month of city.

In this project, some source datas will be use to do data modeling:
- `I94 Immigration` The source data for I94 immigration data is available in local disk in the format of sas7bdat. This data comes from US National Tourism and Trade Office. The data dictionary is also included in this project for reference. The actual source of the data is from https://travel.trade.gov/research/reports/i94/historical/2016.html. This data is already uploaded to the workspace.

- `World Temperature Data` This dataset came from Kaggle. This data is already uploaded to the workspace.

- `I94_SAS_Labels_Descriptions.SAS` to get validation dataset. We will use `I94Port.txt` as list of airport, city, state.

#### The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

Quick notes:
* Python script for all ETL steps: `etl-v04c.py`
* Python script for quality check `qualityCheck-v03.py`

### Step 1: Scope the Project and Gather Data

##### Scope

To make decision of project scope and the technical step solution we do data assessment on datasets:
* `I94 Immigration`
* `World Temperature Data`
* `I94_SAS_Labels_Descriptions.SAS`

Technologies will be used:
- Spark, Spark SQL
- Python, Pandas
- AWS S3

##### Describe and Gather Data

- I94 Immigration dataset:
    - `cicid`: Visitor US cid code issue on every travller get throught the immigration port.
    - `i94yr | i94mon`: Year, Month of immigration date.
    - `i94cit | i94res`: Country of Citizenship & Country of recidence. From `I94_SAS_Labels_Descriptions.SAS`. Don't use.
    - `i94port`: Port code for a specific immigration port USA city. From `I94_SAS_Labels_Descriptions.SAS`. There are types of airport that do not allow immigration entry.
    - `arrdate | depdate`: Arrival date in the USA & Departure date from the USA.
    - `i94mode`: Code for immigration transportation mode. From `I94_SAS_Labels_Descriptions.SAS`. There are methods of immigration transportation without airport gateway. Don't use.
    - `i94addr`: US state code. From `I94_SAS_Labels_Descriptions.SAS`.
    - `i94bir`: Age of traveller in Years. Don't use.
    - `i94visa`: Code for visa type corresponse to visiting reason. Don't use.
    - `count, tadfile, visapost, occup, entdepa, entdepd, entdepu, matflag, dtaddto, insnum`: Don't use.
    - `biryear`: Immigrant year of birth. Have to review data type. Don't use.
    - `gender`: Immigrant sex. There are some un-common sex kind. Don't use.
    - `airline`: Airline Coporate used to arrive in U.S. Don't use.
    - `admnum`: Admission Number. Don't use.
    - `fltno`: Flight number of Airline used to arrive in U.S. Don't use.
    - `visatype`: Class of admission legally admitting the non-immigrant to temporarily stay in U.S. Don't use.

- World Temperature dataset
    - `dt`: The creation time of temperature.
    - `AverageTemperature | AverageTemperatureUncertainty`: temperature value recognized.
    - `City | Country`: City of Country that the teperature recognized.
    - `Latitude | Longitude`: Geographical location in lat-long. Helpful for heatmap but these columns is useless in our project.

- I94_SAS_Labels_Descriptions.SAS contains information parts:
    - `I94PORT_sas_label_validation` (to be used later)
        - `i94port_valid_code`: airport code.
        - `i94port_city_name`: the city corresponding to airport code.
        - `i94port_state_code`: the state the city belong to.
    - `I94MODE_sas_label_validation`
        - `i94mode_valid_code`: Immigration mode code
        - `i94mode_valid_value`: Immigration mode value
    - `I94VISA_sas_label_validation`
        - `i94visa_valid_code`: Code of visa type of travaller
        - `i94visa_valid_value`: Value of visa type of travller
    - `I94ADDR_sas_label_validation`
        - `i94addr_valid_code`: Immigration state code
        - `i94addr_valid_value`: Immigration state value
    - `I94RES_sas_label_validation`
        - `i94res_valid_code`: The country code that traveller come from
        - `i94res_valid_value`: The country value that traveller come from

The perform outputs:
- Amount of records and data size: 
    - I94 Immigration Dataset: `3096313 rows`
    - World Temperature Dataset: `8599212 rows`
    - i94port SAS Labels Dataset: `660 rows`
- Data file extension formats included: 
    - I94 Immigration Dataset is a `.sas7bdat`
    - World Temperature Dataset is a `.csv`
    - SAS Labels Descriptions is a `.SAS`

Our choosen datesets sastify the project rubric and will be using for data modeling.

Our expectations with datasets from data modeling fact&dim tables:
- Relationship between amount of travel immigration and weather duration by month of city.
- Airline statistic traffic to specific city.
- Immigration volume to specific city.

### Step 2: Explore and Assess the Data

#### Explore the Data

In [122]:
# Do all imports and installs here - Done
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StructType as R, StructField as Fld,\
    DoubleType as Dbl, StringType as Str, IntegerType as Int,\
    TimestampType as Timestamp, DateType as Date, LongType as Long
from pyspark.sql.types import DoubleType
from pyspark.sql.types import DateType
import pandas as pd
import re
import configparser
import os
import shutil
from pathlib import Path
from datetime import datetime

In [123]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PATH"] = "/opt/conda/bin:/opt/spark-2.4.3-bin-hadoop2.7/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/jvm/java-8-openjdk-amd64/bin"
os.environ["SPARK_HOME"] = "/opt/spark-2.4.3-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = "/opt/spark-2.4.3-bin-hadoop2.7"
config = configparser.ConfigParser()
config.read('etl.cfg')

os.environ["AWS_ACCESS_KEY_ID"] = config['AWS']['AWS_ACCESS_KEY_ID']
os.environ["AWS_SECRET_ACCESS_KEY"] = config['AWS']['AWS_SECRET_ACCESS_KEY']
AWS_ACCESS_KEY_ID = config['AWS']['AWS_ACCESS_KEY_ID']
AWS_SECRET_ACCESS_KEY = config['AWS']['AWS_SECRET_ACCESS_KEY']


spark = SparkSession.builder\
        .config("spark.jars.repositories", "https://repos.spark-packages.org/")\
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0,saurfang:spark-sas7bdat:2.0.0-s_2.11")\
        .config("spark.hadoop.fs.s3a.access.key",AWS_ACCESS_KEY_ID)\
        .config("spark.hadoop.fs.s3a.secret.key",AWS_SECRET_ACCESS_KEY)\
        .enableHiveSupport().getOrCreate()

In [124]:
# Procedure read out validation pair values from SAS Labels Description
def get_validation_code_from_SAS_labels(sas_input_label):
    '''
    This procedure read a input SAS Labels Description and then write out validation code datasets.
    The SAS Labels Description included validation code datasets with labels: I94RES (same to I94CIT), I94PORT, I94ADDR, I94MODE, I94VISA.
    
    Parameters
    ----------
    sas_input_label : string
        The label name of validation code dataset. Its can be one of I94RES (same to I94CIT), I94PORT, I94ADDR, I94MODE, I94VISA.
    
    Returns
    -------
    validation_code_list : validation_value_pairs(tuple(str_valid_code, str_valid_value))
        The return output is a specific SAS label list of validation code value pairs.
    '''

    # Read input SAS Labels Descriptions
    with open('I94_SAS_Labels_Descriptions.SAS') as sas_validation_code:
            labels_from_sas = sas_validation_code.read()

    # Parse labels from SAS Label Description input
    sas_labels = labels_from_sas[labels_from_sas.index(sas_input_label):]
    sas_labels = sas_labels[:sas_labels.index(';')]
    
    # Processing line by line, remove separate charaters and then append value pair
    lines = sas_labels.splitlines()
    validation_code_list = []
    for line in lines:
        try:
            valid_code, valid_value = line.split('=')
            valid_code = valid_code.strip().strip("'").strip('"')
            valid_value = valid_value.strip().strip("'").strip('"').strip()
            validation_code_list.append((valid_code, valid_value))
        except:
            pass
        
    return validation_code_list

In [125]:
# Procedure extract parts from SAS Labels Description
def extract_staging_sas_label(label):
    '''
    This procedure get a specific part of data dictionary from SAS_Labels_Descriptions.SAS to a schema.
    The dictionary part include valid_code and valid_value
    
    Parameters
    ----------
    label: 
        a string input of specific label from "SAS_Label_Descriptions.SAS"
        
    Syntax note: 
        input value in string datatype, need inside a pair of single quotes. Ex: 'I94RES', 'I94PORTS'
    
    Returns
    -------
    Dir of csv files with a specific part as input label.
    '''
    label_name = label
    valid_code = label + "_valid_code"
    valid_value = label + "_valid_value"
    csv_output = label + "_sas_label_validation"
    
    # Create dir for output
    parent_dir = "./"
    path = os.path.join(parent_dir, csv_output)
    try:
        os.makedirs(path, exist_ok = True)
        print("Directory '%s' created successfully" % csv_output)
    except OSError as error:
        print("Directory '%s' can not be created" % csv_output)

    # Define output dataframe structure
    schema = R([
        Fld(valid_code, Str()),
        Fld(valid_value, Str())
    ])

    # Create dataframe from extracted label
    df = spark.createDataFrame(
        data=get_validation_code_from_SAS_labels(label_name),
        schema=schema
    )

    # df.write.mode('overwrite').csv(csv_output)
    shutil.rmtree(csv_output, ignore_errors=False, onerror=None)
    df.write.options(header='True', delimiter=',').csv(csv_output)

    df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(csv_output)

    print("Top 20 rows of {} ".format(csv_output))
    df.show()

    print("Count rows of {}: {} ".format(csv_output, df.count()))
    
    print("Check unique value of {}: {} ".format(csv_output, df.select(valid_code).distinct().count()))

    print("Staging csv files in: {}".format(csv_output))

    return df

In [126]:
# Procedure convert column name
def convert_column_names(df):
    '''
    This procedure standardizing column names to snake case format. Format ex: customer_name, billing_address, total_price.
    
    Parameters
    ----------
    dataframe : string_of_dataframe
        The input dataframe with column names might have elements of messy columns names, including accents, different delimiters, casing and multiple white spaces.
        Snake case style replaces the white spaces and symbol delimiters with underscore and converts all characters to lower case
    
    Returns
    -------
    Dataframe with column names has been changed to snake_case format.
    '''
    cols = df.columns
    column_name_changed = []

    for col in cols:
        new_column = col.lstrip().rstrip().lower().replace (" ", "_").replace ("-", "_")
        column_name_changed.append(new_column)

    df.columns = column_name_changed

In [127]:
# Procedure remove specific dir (if need)
def rmdir(directory):
    '''
    This procedure perform pure recursive a directory.
    
    Parameters
    ----------
    directory : string_of_path_to_dir
        The input directory is a path to target dir. This dir and all its belong child objects wil be deleted.
        Syntax note: rmdir(Path("target_path_to_dir"))
            with Path("target_path_to_dir") returns path to dir format as 'directory' input
    
    Returns
    -------
    None
    '''
    directory = Path(directory)
    for item in directory.iterdir():
        if item.is_dir():
            rmdir(item)
        else:
            item.unlink()
    directory.rmdir()

In [128]:
# Defines procedure count data files - Done
def get_list_of_files(dir_name):
    # create a list of file and sub directories 
    # names in the given directory 
    listOfFile = os.listdir(dir_name)
    allFiles = list()
    # Iterate over all the entries
    for entry in listOfFile:
        # Create full path
        fullPath = os.path.join(dir_name, entry)
        # If entry is a directory then get the list of files in this directory 
        if os.path.isdir(fullPath):
            allFiles = allFiles + get_list_of_files(fullPath)
        else:
            allFiles.append(fullPath)
                
    return allFiles

##### I94 Immigration dataset

In [129]:
# Read input dataset to Spark dataframe
i94immi_raw_dataset = './sas_data'
i94immi_df = spark.read.parquet(i94immi_raw_dataset)

In [130]:
# Data type
i94immi_df.dtypes

[('cicid', 'double'),
 ('i94yr', 'double'),
 ('i94mon', 'double'),
 ('i94cit', 'double'),
 ('i94res', 'double'),
 ('i94port', 'string'),
 ('arrdate', 'double'),
 ('i94mode', 'double'),
 ('i94addr', 'string'),
 ('depdate', 'double'),
 ('i94bir', 'double'),
 ('i94visa', 'double'),
 ('count', 'double'),
 ('dtadfile', 'string'),
 ('visapost', 'string'),
 ('occup', 'string'),
 ('entdepa', 'string'),
 ('entdepd', 'string'),
 ('entdepu', 'string'),
 ('matflag', 'string'),
 ('biryear', 'double'),
 ('dtaddto', 'string'),
 ('gender', 'string'),
 ('insnum', 'string'),
 ('airline', 'string'),
 ('admnum', 'double'),
 ('fltno', 'string'),
 ('visatype', 'string')]

In [131]:
# Attributes columns
i94immi_df.show(5)

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 5 rows

In [132]:
i94immi_df.count()

3096313

##### World Temperature dataset

In [133]:
# read input dataset to Pandas dataframe
worldtempe_dataset = '../../data2/GlobalLandTemperaturesByCity.csv'
worldtempe_df = pd.read_csv(worldtempe_dataset,sep=",")

In [134]:
# Data type
worldtempe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
dt                               object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                             object
Country                          object
Latitude                         object
Longitude                        object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

In [135]:
# Attributes columns
worldtempe_df.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [136]:
worldtempe_df.shape

(8599212, 7)

##### I94PORT_sas_label_validation

In [137]:
# Extract `I94PORT` label
# Create dir 'I94PORT_sas_label_validation' to save extracted label result
I94PORT_df = extract_staging_sas_label('I94PORT')
I94PORT_df = I94PORT_df.toPandas()

Directory 'I94PORT_sas_label_validation' created successfully
Top 20 rows of I94PORT_sas_label_validation
+------------------+--------------------+
|I94PORT_valid_code| I94PORT_valid_value|
+------------------+--------------------+
|               ALC|           ALCAN, AK|
|               ANC|       ANCHORAGE, AK|
|               BAR|BAKER AAF - BAKER...|
|               DAC|   DALTONS CACHE, AK|
|               PIZ|DEW STATION PT LA...|
|               DTH|    DUTCH HARBOR, AK|
|               EGL|           EAGLE, AK|
|               FRB|       FAIRBANKS, AK|
|               HOM|           HOMER, AK|
|               HYD|           HYDER, AK|
|               JUN|          JUNEAU, AK|
|               5KE|       KETCHIKAN, AK|
|               KET|       KETCHIKAN, AK|
|               MOS|MOSES POINT INTER...|
|               NIK|         NIKISKI, AK|
|               NOM|             NOM, AK|
|               PKC|     POKER CREEK, AK|
|               ORI|  PORT LIONS SPB, AK|
|               SKA|         SKAGWAY, AK|
|               SNP| ST. PAUL ISLAND, AK|
+------------------+--------------------+
only showing top 20 rows

Count rows of I94PORT_sas_label_validation: 660
Check unique value of I94PORT_sas_label_validation: 660
Staging csv files in: I94PORT_sas_label_validation

In [138]:
# Data type
I94PORT_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 2 columns):
I94PORT_valid_code     660 non-null object
I94PORT_valid_value    660 non-null object
dtypes: object(2)
memory usage: 10.4+ KB

In [139]:
# Attributes columns
I94PORT_df.head(5)

  I94PORT_valid_code           I94PORT_valid_value
0                ALC                     ALCAN, AK
1                ANC                 ANCHORAGE, AK
2                BAR  BAKER AAF - BAKER ISLAND, AK
3                DAC             DALTONS CACHE, AK
4                PIZ    DEW STATION PT LAY DEW, AK

In [140]:
# Count rows
I94PORT_df.count()

I94PORT_valid_code     660
I94PORT_valid_value    660
dtype: int64

##### I94ADDR_sas_label_validation

In [141]:
# Extract `I94ADDR` label
# Create dir 'I94ADDR_sas_label_validation' first to save extracted label result
I94ADDR_df = extract_staging_sas_label('I94ADDR')
I94ADDR_df = I94ADDR_df.toPandas()

Directory 'I94ADDR_sas_label_validation' created successfully
Top 20 rows of I94ADDR_sas_label_validation
+------------------+-------------------+
|I94ADDR_valid_code|I94ADDR_valid_value|
+------------------+-------------------+
|                AL|            ALABAMA|
|                AK|             ALASKA|
|                AZ|            ARIZONA|
|                AR|           ARKANSAS|
|                CA|         CALIFORNIA|
|                CO|           COLORADO|
|                CT|        CONNECTICUT|
|                DE|           DELAWARE|
|                DC|  DIST. OF COLUMBIA|
|                FL|            FLORIDA|
|                GA|            GEORGIA|
|                GU|               GUAM|
|                HI|             HAWAII|
|                ID|              IDAHO|
|                IL|           ILLINOIS|
|                IN|            INDIANA|
|                IA|               IOWA|
|                KS|             KANSAS|
|                KY|           KENTUCKY|
|                LA|          LOUISIANA|
+------------------+-------------------+
only showing top 20 rows

Count rows of I94ADDR_sas_label_validation: 55
Check unique value of I94ADDR_sas_label_validation: 55
Staging csv files in: I94ADDR_sas_label_validation

In [142]:
# Data type
I94ADDR_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 2 columns):
I94ADDR_valid_code     55 non-null object
I94ADDR_valid_value    55 non-null object
dtypes: object(2)
memory usage: 960.0+ bytes

In [143]:
# Attributes columns
I94ADDR_df.head(5)

  I94ADDR_valid_code I94ADDR_valid_value
0                 AL             ALABAMA
1                 AK              ALASKA
2                 AZ             ARIZONA
3                 AR            ARKANSAS
4                 CA          CALIFORNIA

In [144]:
# Count rows
I94ADDR_df.count()

I94ADDR_valid_code     55
I94ADDR_valid_value    55
dtype: int64

#### Cleaning Steps

##### I94 Immigration dataset

- Cleaning I94 Immigration dataset `i94immi_raw_dataset = './sas_data'`
- The input dataframe from Explorer step `i94immi_df = spark.read.parquet(i94immi_raw_dataset)`
- The outputs of this step: `./i94immi_df_clean`
- Cleaning task to do:
    - Read dataset to spark dataframe.
    - Create Spark SQL table from dataframe.
    - Choose Primarykey.
    - Verify arrival date and departure date logical conditional.
    - Add column `arival_date`, `departure_date` as `datetime` datatype
    - Verify `arival_date`, `departure_date` wrong value.
    - Filter US airport with immigration allowed.
    - Remove missing value.
    - Create and verify staging table.

In [145]:
# Extracting i94immi from dataset './sas_data'
i94immi_raw_dataset = './sas_data'
i94immi_df = spark.read.parquet(i94immi_raw_dataset)

In [146]:
i94immi_df.show(3)

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 3 rows

In [147]:
i94immi_df.count()

3096313

In [148]:
# Create tableview for data manipulation
i94immi_df.createOrReplaceTempView('i94immi_table')

In [149]:
spark.sql("""
    SELECT cicid
    FROM i94immi_table
""").show(3)

+---------+
|    cicid|
+---------+
|5748517.0|
|5748518.0|
|5748519.0|
+---------+
only showing top 3 rows

In [150]:
# Drop amount of un-makesance records cause by `DepartureDate >= ArrivalDate`
spark.sql("""
    SELECT *
    FROM i94immi_table
    WHERE arrdate <= depdate
""").createOrReplaceTempView("i94immi_table")

In [151]:
# Add column `arrival_date = timestone + arrdate_offset_day`, with:
# - timestone = '1960-01-01' (***datetime*** datatype)
# - arrdate_offset_day = 'arrdate' (***integer*** datatype)
# - arrival_date (***datetime*** datatype)
spark.sql("""
    SELECT *, date_add(to_date('1960-01-01'), arrdate) AS arrival_date 
    FROM i94immi_table
""").createOrReplaceTempView("i94immi_table")

In [152]:
# Add column `departure_date = timestone + depdate_offset_day`, with:
# - `timestone` = '1960-01-01' (***datetime*** datatype)
# - `depdate_offset_day` = 'depdate' (***integer*** datatype)
# - `departure_date` (***datetime*** datatype)
spark.sql("""SELECT *, CASE 
                        WHEN depdate >= arrdate THEN date_add(to_date('1960-01-01'), depdate)
                        WHEN depdate IS NULL THEN NULL
                        ELSE 'NaN' END AS departure_date 
                FROM i94immi_table
            """).createOrReplaceTempView("i94immi_table")

In [153]:
# extracted i94mode from `I94_SAS_Labels_Descriptions_SAS`
# i94mode includes:
# {'1': 'Air', '2': 'Sea', '3': 'Land', '9': 'Not reported'}
# Keep air arrival only, mean keep `i94mode=1`
spark.sql("""
    SELECT *
    FROM i94immi_table
    WHERE i94mode == 1.0
""").createOrReplaceTempView("i94immi_table")

In [154]:
# Mapping `i94visa` numbers to `visatype` instead
spark.sql("""
        SELECT *, CASE 
                    WHEN i94visa = 1.0 THEN 'Business' 
                    WHEN i94visa = 2.0 THEN 'Pleasure'
                    WHEN i94visa = 3.0 THEN 'Student'
                    ELSE 'NaN' END AS visa_type
        FROM i94immi_table
    """).createOrReplaceTempView("i94immi_table")

In [155]:
# Keep user records of `male = 'M'` and `female = 'F'` only
spark.sql("""
    SELECT * 
    FROM i94immi_table 
    WHERE gender IN ('F', 'M')
""").createOrReplaceTempView("i94immi_table")

In [156]:
# Drop NULL value on arrival state
spark.sql("""
    SELECT *
    FROM i94immi_table
    WHERE i94addr IS NOT NULL
""").createOrReplaceTempView("i94immi_table")

In [157]:
# Keep necessary columns
# Convert month and year timestamp
spark.sql("""
        SELECT 
            cicid,
            i94cit,
            i94res,
            i94port,
            arrival_date,
            YEAR(arrival_date) as i94yr,
            MONTH(arrival_date) as i94mon,
            i94mode,
            i94addr,
            departure_date,
            i94bir,
            i94visa,
            count,
            dtadfile,
            biryear,
            dtaddto,
            gender,
            insnum,
            airline,
            admnum,
            fltno,
            visatype,
            visa_type
        FROM i94immi_table
            """).createOrReplaceTempView('i94immi_table')

In [158]:
# Verify the cleaned
i94immi_df = spark.sql("""
    SELECT *
    FROM i94immi_table
""")

In [159]:
i94immi_df.show(3)

+---------+------+------+-------+------------+-----+------+-------+-------+--------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
|    cicid|i94cit|i94res|i94port|arrival_date|i94yr|i94mon|i94mode|i94addr|departure_date|i94bir|i94visa|count|dtadfile|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|visa_type|
+---------+------+------+-------+------------+-----+------+-------+-------+--------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
|5748517.0| 245.0| 438.0|    LOS|  2016-04-30| 2016|     4|    1.0|     CA|    2016-05-08|  40.0|    1.0|  1.0|20160430| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1| Business|
|5748518.0| 245.0| 438.0|    LOS|  2016-04-30| 2016|     4|    1.0|     NV|    2016-05-17|  32.0|    1.0|  1.0|20160430| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1| Business|
|5748519.0| 245.0| 438.0|    LOS|  2016-04-30| 2016|     4|    1.0|     WA|    2016-05-08|  29.0|    1.0|  1.0|20160430| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1| Business|
+---------+------+------+-------+------------+-----+------+-------+-------+--------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
only showing top 3 rows

In [160]:
# Verify the cleaned
spark.sql("""
    SELECT COUNT(*) as amount_i94immi_rows
    FROM i94immi_table
""").show()

+-------------------+
|amount_i94immi_rows|
+-------------------+
|            2377896|
+-------------------+

In [161]:
# Cleaning staging output location
# output_dir = './visa_df_clean' # Use local storage
output_dir = './i94immi_df_clean'

try:
    os.makedirs(output_dir, exist_ok = True)
    print("Directory '%s' created successfully" % output_dir)
except OSError as error:
    print("Directory '%s' can not be created" % output_dir)

rmdir(Path(output_dir))

Directory './i94immi_df_clean' created successfully

In [162]:
# Staging to csv file
i94immi_df.write.options(header='True', delimiter=',').csv(output_dir)

In [163]:
# Verify out from staging csv partitions
i94immi_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(output_dir)

In [164]:
# Prepare to save out s3 storage
i94immi_df.show(3)

+---------+------+------+-------+-------------------+-----+------+-------+-------+-------------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
|    cicid|i94cit|i94res|i94port|       arrival_date|i94yr|i94mon|i94mode|i94addr|     departure_date|i94bir|i94visa|count|dtadfile|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|visa_type|
+---------+------+------+-------+-------------------+-----+------+-------+-------+-------------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
|5748517.0| 245.0| 438.0|    LOS|2016-04-30 00:00:00| 2016|     4|    1.0|     CA|2016-05-08 00:00:00|  40.0|    1.0|  1.0|20160430| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1| Business|
|5748518.0| 245.0| 438.0|    LOS|2016-04-30 00:00:00| 2016|     4|    1.0|     NV|2016-05-17 00:00:00|  32.0|    1.0|  1.0|20160430| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1| Business|
|5748519.0| 245.0| 438.0|    LOS|2016-04-30 00:00:00| 2016|     4|    1.0|     WA|2016-05-08 00:00:00|  29.0|    1.0|  1.0|20160430| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1| Business|
+---------+------+------+-------+-------------------+-----+------+-------+-------+-------------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
only showing top 3 rows

In [165]:
i94immi_df.dtypes

[('cicid', 'double'),
 ('i94cit', 'double'),
 ('i94res', 'double'),
 ('i94port', 'string'),
 ('arrival_date', 'timestamp'),
 ('i94yr', 'int'),
 ('i94mon', 'int'),
 ('i94mode', 'double'),
 ('i94addr', 'string'),
 ('departure_date', 'timestamp'),
 ('i94bir', 'double'),
 ('i94visa', 'double'),
 ('count', 'double'),
 ('dtadfile', 'int'),
 ('biryear', 'double'),
 ('dtaddto', 'string'),
 ('gender', 'string'),
 ('insnum', 'string'),
 ('airline', 'string'),
 ('admnum', 'double'),
 ('fltno', 'string'),
 ('visatype', 'string'),
 ('visa_type', 'string')]

##### Visa dataset

- Cleaning dataset `input_dataset = "./i94immi_df_clean"`
- The input dataframe from Explorer step `visa_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(input_dataset)`
- The outputs of this step: `./visa_df_clean`
- Cleaning task to do:
    - Read dataset to spark dataframe.
    - Create Spark SQL table from dataframe.
    - Choose Primarykey.
    - Select columns `visatype` `i94visa` `visa_type`
    - Drop duplicate by `visatype` `i94visa`.
    - Create and verify staging table.

In [166]:
# Extracting visa dataset from 'i94immi_cleaned_dataset'
input_dataset = "./i94immi_df_clean"
visa_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(input_dataset)

In [167]:
# Keep columns of visa
visa_df = visa_df.select(['visatype', 'i94visa', 'visa_type'])

In [168]:
# Keep unique values
visa_df = visa_df.dropDuplicates(['visatype'])

In [169]:
# Cleaning staging output location
# output_dir = './visa_df_clean' # Use local storage

output_dir = "./visa_df_clean"
try:
    os.makedirs(output_dir, exist_ok = True)
    print("Directory '%s' created successfully" % output_dir)
except OSError as error:
    print("Directory '%s' can not be created" % output_dir)

rmdir(Path(output_dir))

Directory './visa_df_clean' created successfully

In [170]:
# Staging to csv file
visa_df.write.options(header='True', delimiter=',').csv(output_dir)

In [171]:
# Verify out from staging csv partitions
visa_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(output_dir)

In [172]:
visa_df.dtypes

[('visatype', 'string'), ('i94visa', 'double'), ('visa_type', 'string')]

In [173]:
visa_df.show(5)

+--------+-------+---------+
|visatype|i94visa|visa_type|
+--------+-------+---------+
|     GMT|    2.0| Pleasure|
|     SBP|    2.0| Pleasure|
|     GMB|    1.0| Business|
|     CPL|    2.0| Pleasure|
|      WT|    2.0| Pleasure|
+--------+-------+---------+
only showing top 5 rows

##### Flight dataset

- Cleaning dataset `input_dataset = "./i94immi_df_clean"`
- The input dataframe from Explorer step `flight_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(input_dataset)`
- The outputs of this step: `./flight_df_clean`
- Cleaning task to do:
    - Read dataset to spark dataframe.
    - Create Spark SQL table from dataframe.
    - Select columns `fltno` `airline` `i94port`
    - Choose Primarykey.
    - Drop duplicate by `fltno`.
    - Create and verify staging table.

In [174]:
# Extract flight dataset from 'i94immi_raw_dataset'
input_dataset = "./i94immi_df_clean"
flight_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(input_dataset)

In [175]:
# Keep columns of visa
flight_df = flight_df.select(['fltno', 'airline', 'i94port'])

In [176]:
# Keep unique values
flight_df = flight_df.dropDuplicates(['fltno'])

In [177]:
# Cleaning staging output location
# output_dir = './flight_df_clean' # Use local storage

output_dir = "./flight_df_clean"
try:
    os.makedirs(output_dir, exist_ok = True)
    print("Directory '%s' created successfully" % output_dir)
except OSError as error:
    print("Directory '%s' can not be created" % output_dir)

rmdir(Path(output_dir))

Directory './flight_df_clean' created successfully

In [178]:
# Staging to csv file
flight_df.write.options(header='True', delimiter=',').csv(output_dir)

In [179]:
# Verify out from staging csv partitions
flight_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(output_dir)

In [180]:
flight_df.dtypes

[('fltno', 'string'), ('airline', 'string'), ('i94port', 'string')]

In [181]:
flight_df.show(5)

+-----+-------+-------+
|fltno|airline|i94port|
+-----+-------+-------+
|00000|     JL|    AGA|
|00054|     LX|    BOS|
|00147|     EI|    DUB|
|00505|     AA|    PHO|
|00508|     DL|    ATL|
+-----+-------+-------+
only showing top 5 rows

##### Traveller dataset

- Cleaning dataset `input_dataset = "./i94immi_df_clean"`
- The input dataframe from Explorer step `traveller_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(input_dataset)`
- The outputs of this step: `./traveller_df_clean`
- Cleaning task to do:
    - Read dataset to spark dataframe.
    - Create Spark SQL table from dataframe.
    - Select columns `cicid` `i94cit` `i94res` `i94port` `arrival_date` `i94mode` `i94addr` `i94bir` `biryear` `gender` `visatype`
    - Choose Primarykey.
    - Drop duplicate by `cicid`.
    - Create and verify staging table.

In [182]:
# Extract flight dataset from 'i94immi_raw_dataset'
input_dataset = "./i94immi_df_clean"
traveller_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(input_dataset)

In [183]:
# Keep columns of traveller
traveller_df = traveller_df.select(['cicid', 'i94cit', 'i94res', 'i94port', 'arrival_date', 'i94mode', 'i94addr', 'i94bir', 'biryear', 'gender', 'visatype'])

In [184]:
# Keep unique values
traveller_df = traveller_df.dropDuplicates(['cicid'])

In [185]:
# Cleaning staging output location
# output_dir = './traveller_df_clean' # Use local storage
output_dir = "./traveller_df_clean"

try:
    os.makedirs(output_dir, exist_ok = True)
    print("Directory '%s' created successfully" % output_dir)
except OSError as error:
    print("Directory '%s' can not be created" % output_dir)

rmdir(Path(output_dir))

Directory './traveller_df_clean' created successfully

In [186]:
# Staging to csv file
traveller_df.write.options(header='True', delimiter=',').csv(output_dir)

In [187]:
# Verify out from staging csv partitions
traveller_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(output_dir)

In [188]:
traveller_df.dtypes

[('cicid', 'double'),
 ('i94cit', 'double'),
 ('i94res', 'double'),
 ('i94port', 'string'),
 ('arrival_date', 'timestamp'),
 ('i94mode', 'double'),
 ('i94addr', 'string'),
 ('i94bir', 'double'),
 ('biryear', 'double'),
 ('gender', 'string'),
 ('visatype', 'string')]

In [189]:
traveller_df.show(5)

+------+------+------+-------+-------------------+-------+-------+------+-------+------+--------+
| cicid|i94cit|i94res|i94port|       arrival_date|i94mode|i94addr|i94bir|biryear|gender|visatype|
+------+------+------+-------+-------------------+-------+-------+------+-------+------+--------+
| 678.0| 103.0| 135.0|    LOS|2016-04-01 00:00:00|    1.0|     CA|  53.0| 1963.0|     F|      WT|
| 881.0| 104.0| 104.0|    NEW|2016-04-01 00:00:00|    1.0|     FL|   8.0| 2008.0|     F|      WT|
| 961.0| 104.0| 104.0|    NEW|2016-04-01 00:00:00|    1.0|     NY|  67.0| 1949.0|     F|      WT|
| 978.0| 104.0| 104.0|    NEW|2016-04-01 00:00:00|    1.0|     NY|  32.0| 1984.0|     M|      WT|
|1229.0| 104.0| 104.0|    NYC|2016-04-01 00:00:00|    1.0|     CT|  32.0| 1984.0|     M|      WB|
+------+------+------+-------+-------------------+-------+-------+------+-------+------+--------+
only showing top 5 rows

##### World Temperature dataset

- Cleaning World Temperature dataset `../../data2/GlobalLandTemperaturesByCity.csv`
- The input dataframe from Explorer step: `worldtempe_df = pd.read_csv(worldtempe_dataset,sep=",")`
- The outputs of this step: `worldtempe_df_clean.csv`.
- Cleaning task to do:
    - Read dataset to pandas dataframe.
    - Filter value of `United States` only.
    - Limit dataset duration by immigration time duration
    - Clean column with datetime datatype.
    - Standalizing column names format.
    - Create and verify staging table.

In [190]:
# Read input dataset to Pandas dataframe
worldtempe_dataset = '../../data2/GlobalLandTemperaturesByCity.csv'
worldtempe_df = pd.read_csv(worldtempe_dataset,sep=",")

In [191]:
# Filter out `Country` for single value `United States` and check dataframe size
worldtempe_df = worldtempe_df[worldtempe_df['Country']=='United States']

In [192]:
# Add a column 'dt_converted' as datetime datatype
worldtempe_df['dt_converted'] = pd.to_datetime(worldtempe_df.dt)

In [193]:
# Cut off the sub-dataset before "1960-01-01"
worldtempe_df=worldtempe_df[worldtempe_df['dt_converted']>"1960-01-01"]

In [194]:
# Upper case 'City' column values
worldtempe_df["City"] = worldtempe_df["City"].str.upper()

In [195]:
# Convert column names to ***snake_case*** format. Format ex: *customer_name, billing_address, ...*
convert_column_names(worldtempe_df)
worldtempe_df.columns

Index(['dt', 'averagetemperature', 'averagetemperatureuncertainty', 'city',
       'country', 'latitude', 'longitude', 'dt_converted'],
      dtype='object')

In [196]:
# Staging to csv file (optional)
worldtempe_df.to_csv('worldtempe_df_clean.csv', index=False, header=True)

In [197]:
# Verify out from staging csv partitions (optional)
# worldtempe_df = pd.read_csv('worldtempe_df_clean.csv',sep=",")
worldtempe_df = spark.read.csv("worldtempe_df_clean.csv", header=True)

In [198]:
worldtempe_df.dtypes

[('dt', 'string'),
 ('averagetemperature', 'string'),
 ('averagetemperatureuncertainty', 'string'),
 ('city', 'string'),
 ('country', 'string'),
 ('latitude', 'string'),
 ('longitude', 'string'),
 ('dt_converted', 'string')]

In [199]:
worldtempe_df.show(5)

+----------+------------------+-----------------------------+-------+-------------+--------+---------+------------+
|        dt|averagetemperature|averagetemperatureuncertainty|   city|      country|latitude|longitude|dt_converted|
+----------+------------------+-----------------------------+-------+-------------+--------+---------+------------+
|1960-02-01|             4.995|                        0.325|ABILENE|United States|  32.95N|  100.53W|  1960-02-01|
|1960-03-01| 8.575000000000001|                        0.303|ABILENE|United States|  32.95N|  100.53W|  1960-03-01|
|1960-04-01|            18.452|                        0.282|ABILENE|United States|  32.95N|  100.53W|  1960-04-01|
|1960-05-01|            21.709|          0.28600000000000003|ABILENE|United States|  32.95N|  100.53W|  1960-05-01|
|1960-06-01|            27.714|                        0.387|ABILENE|United States|  32.95N|  100.53W|  1960-06-01|
+----------+------------------+-----------------------------+-------+-------------+--------+---------+------------+
only showing top 5 rows

In [200]:
# Change datatype of column '' as DoubleType datatype for average temperature of eache city
worldtempe_df = worldtempe_df.withColumn("averagetemperature", worldtempe_df["averagetemperature"].cast(DoubleType()).alias("averagetemperature"))

In [201]:
# Lamda function to convert string of date format to date datatype
func =  udf (lambda x: datetime.strptime(x, '%Y-%m-%d'), DateType())

In [202]:
# Convert 'dt_converted' to date datatype
worldtempe_df = worldtempe_df.withColumn('dt_converted', func(col('dt_converted')))

In [203]:
# Create a tableview for Spark SQL dataframe manipulation
worldtempe_df.createOrReplaceTempView('worldtempe_table')

In [204]:
# Add columns 'tempe_month' as date and 'tempe_year' as date
spark.sql("""
        SELECT 
            dt_converted,
            MONTH(worldtempe_table.dt_converted) as tempe_month,
            YEAR(worldtempe_table.dt_converted) as tempe_year,
            dt,
            city,
            averagetemperature,
            averagetemperatureuncertainty
        FROM worldtempe_table
            """).createOrReplaceTempView('worldtempe_table')

In [205]:
# Grouping average temperature by city for city temperature consistent
spark.sql("""
    SELECT 
        city,
        tempe_month,
        BROUND(AVG(averagetemperature),2) as averagetemperature,
        BROUND(AVG(averagetemperatureuncertainty),2) as averagetemperatureuncertainty,
        tempe_year,
        dt_converted
    FROM worldtempe_table
    GROUP BY city, tempe_month, tempe_year, dt_converted
""").createOrReplaceTempView('worldtempe_table')

In [206]:
worldtempe_df = spark.sql("""
    SELECT *
    FROM worldtempe_table
""")

In [207]:
worldtempe_df.show(5)

+-----------+-----------+------------------+-----------------------------+----------+------------+
|       city|tempe_month|averagetemperature|averagetemperatureuncertainty|tempe_year|dt_converted|
+-----------+-----------+------------------+-----------------------------+----------+------------+
|    ABILENE|         12|              5.25|                          0.2|      1966|  1966-12-01|
|    ABILENE|          7|             27.55|                         0.27|      1991|  1991-07-01|
|      AKRON|          3|              3.38|                         0.33|      1967|  1967-03-01|
|      AKRON|          2|               1.2|                         0.19|      2000|  2000-02-01|
|ALBUQUERQUE|          4|              8.71|                         0.36|      1970|  1970-04-01|
+-----------+-----------+------------------+-----------------------------+----------+------------+
only showing top 5 rows

In [208]:
worldtempe_df.dtypes

[('city', 'string'),
 ('tempe_month', 'int'),
 ('averagetemperature', 'double'),
 ('averagetemperatureuncertainty', 'double'),
 ('tempe_year', 'int'),
 ('dt_converted', 'date')]

In [210]:
# Cleaning staging output location
# output_dir = './worldtempe_df_clean'
output_dir = './worldtempe_df_clean'

try:
    os.makedirs(output_dir, exist_ok = True)
    print("Directory '%s' created successfully" % output_dir)
except OSError as error:
    print("Directory '%s' can not be created" % output_dir)
    
rmdir(Path(output_dir))

Directory './worldtempe_df_clean' created successfully

In [211]:
# Staging to csv file
worldtempe_df.write.options(header='True', delimiter=',').csv(output_dir)

In [212]:
# Verify out from staging csv partitions
worldtempe_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(output_dir)

In [213]:
# Verify csv staging
worldtempe_df.show(5)

+-------+-----------+------------------+-----------------------------+----------+-------------------+
|   city|tempe_month|averagetemperature|averagetemperatureuncertainty|tempe_year|       dt_converted|
+-------+-----------+------------------+-----------------------------+----------+-------------------+
|ABILENE|         11|              9.77|                         0.12|      1997|1997-11-01 00:00:00|
|ABILENE|         10|             18.48|                         0.26|      2000|2000-10-01 00:00:00|
|  AKRON|          2|              2.17|                         0.18|      1976|1976-02-01 00:00:00|
|  AKRON|          9|              17.5|                         0.22|      1990|1990-09-01 00:00:00|
|  AKRON|          7|             24.95|                         0.21|      2011|2011-07-01 00:00:00|
+-------+-----------+------------------+-----------------------------+----------+-------------------+
only showing top 5 rows

In [214]:
# Verify csv staging
worldtempe_df.dtypes

[('city', 'string'),
 ('tempe_month', 'int'),
 ('averagetemperature', 'double'),
 ('averagetemperatureuncertainty', 'double'),
 ('tempe_year', 'int'),
 ('dt_converted', 'timestamp')]

##### I94PORT_sas_label_validation

- Cleaning `i94port` from `I94_SAS_Labels_Descriptions.SAS`
- The input dataframe from Explorer step: `I94PORT_df = I94PORT_df.toPandas()`
- The outputs of this step: `i94_port.csv`
- Cleaning task to do: 
    - Extract `I94PORT` from `I94_SAS_Labels_Descriptions.SAS`
    - Clean leading and trailing white space.
    - Split to port_code, city, state.
    - Clean others columns to limit dataset.
    - Create and verify staging table.

In [215]:
# clean leading and trailing white space before split column
I94PORT_df["I94PORT_valid_code"] = I94PORT_df["I94PORT_valid_code"].str.lstrip().str.rstrip()
I94PORT_df["I94PORT_valid_value"] = I94PORT_df["I94PORT_valid_value"].str.lstrip().str.rstrip()

In [216]:
# split to port, city, state
I94PORT_df["I94PORT_city_name"] = I94PORT_df["I94PORT_valid_value"].str.split(",").str.get(0)
I94PORT_df["I94PORT_state_code"] = I94PORT_df["I94PORT_valid_value"].str.split(",").str.get(1)

In [217]:
# clean leading and trailing white space after split column
I94PORT_df["I94PORT_city_name"] = I94PORT_df["I94PORT_city_name"].str.lstrip().str.rstrip()
I94PORT_df["I94PORT_state_code"] = I94PORT_df["I94PORT_state_code"].str.lstrip().str.rstrip()

In [218]:
# drop missing value on I94PORT_state_code
I94PORT_df = I94PORT_df.dropna(subset = ["I94PORT_state_code"])

In [219]:
# Convert column name to snake case format
convert_column_names(I94PORT_df)

In [220]:
I94PORT_df.columns

Index(['i94port_valid_code', 'i94port_valid_value', 'i94port_city_name',
       'i94port_state_code'],
      dtype='object')

In [221]:
# Remove 'i94port_valid_value' column
select_cols = ['i94port_valid_code', 'i94port_city_name', 'i94port_state_code']
I94PORT_df = I94PORT_df[select_cols]

In [222]:
I94PORT_df.head(3)

  i94port_valid_code         i94port_city_name i94port_state_code
0                ALC                     ALCAN                 AK
1                ANC                 ANCHORAGE                 AK
2                BAR  BAKER AAF - BAKER ISLAND                 AK

In [223]:
# Changing to SQL Spark dataframe for staging output saving
I94PORT_df = spark.createDataFrame(I94PORT_df)

In [224]:
# Cleaning staging output location
# output_dir = './i94port_staging'
output_dir = './i94port_staging'

try:
    os.makedirs(output_dir, exist_ok = True)
    print("Directory '%s' created successfully" % output_dir)
except OSError as error:
    print("Directory '%s' can not be created" % output_dir)
    
rmdir(Path(output_dir))

Directory './i94port_staging' created successfully

In [225]:
# Save to csv staging
I94PORT_df.write.options(header='True', delimiter=',').csv(output_dir)

In [226]:
# Read csv staging to create dim table
I94PORT_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(output_dir)

In [227]:
I94PORT_df.show(3)

+------------------+--------------------+------------------+
|i94port_valid_code|   i94port_city_name|i94port_state_code|
+------------------+--------------------+------------------+
|               ALC|               ALCAN|                AK|
|               ANC|           ANCHORAGE|                AK|
|               BAR|BAKER AAF - BAKER...|                AK|
+------------------+--------------------+------------------+
only showing top 3 rows

In [228]:
I94PORT_df.dtypes

[('i94port_valid_code', 'string'),
 ('i94port_city_name', 'string'),
 ('i94port_state_code', 'string')]

##### I94ADDR_sas_label_validation

- Cleaning `i94addr` from `I94_SAS_Labels_Descriptions.SAS`
- The input dataframe from Explorer step: `I94ADDR_df = I94ADDR_df.toPandas()`
- The outputs of this step: `i94_addr.csv`
- Cleaning task to do: 
    - Extract `I94PORT` from `I94_SAS_Labels_Descriptions.SAS`
    - Clean leading and trailing white space.
    - Distinct primarykey columns.
    - Create and verify staging table.

In [229]:
# clean leading and trailing white space before split column
I94ADDR_df["I94ADDR_valid_code"] = I94ADDR_df["I94ADDR_valid_code"].str.lstrip().str.rstrip()
I94ADDR_df["I94ADDR_valid_value"] = I94ADDR_df["I94ADDR_valid_value"].str.lstrip().str.rstrip()

In [230]:
# Convert column name to snake case format
convert_column_names(I94ADDR_df)

In [231]:
# Changing to SQL Spark dataframe for staging output saving
I94ADDR_df = spark.createDataFrame(I94ADDR_df)

In [232]:
# Cleaning staging output location
# output_dir = './i94addr_staging'
output_dir = './i94addr_staging'

try:
    os.makedirs(output_dir, exist_ok = True)
    print("Directory '%s' created successfully" % output_dir)
except OSError as error:
    print("Directory '%s' can not be created" % output_dir)
    
rmdir(Path(output_dir)) # use from 2nd running

# Save to csv staging
I94ADDR_df.write.options(header='True', delimiter=',').csv(output_dir)

Directory './i94addr_staging' created successfully

In [233]:
# Read csv staging to create dim table
I94ADDR_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(output_dir)

In [234]:
I94ADDR_df.show(3)

+------------------+-------------------+
|i94addr_valid_code|i94addr_valid_value|
+------------------+-------------------+
|                AL|            ALABAMA|
|                AK|             ALASKA|
|                AZ|            ARIZONA|
+------------------+-------------------+
only showing top 3 rows

In [235]:
I94ADDR_df.dtypes

[('i94addr_valid_code', 'string'), ('i94addr_valid_value', 'string')]

### Step 3: Define the Data Model

#### 3.1 Conceptual Data Model

As expectation mention, we want to find out the relations between US immigration with either weather, immigration traffic and the arrival place (city). To archive the expectation, we create star data modeling with fact and dim tables detail bellow:
Airport
Traffic <note_here>

Start schema diagram transformed
- Start_schema_diagram here

##### I94 Immigration fact table:

Input dataframe come from 
`i94immi_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv("i94immi_df_clean")`

- `fact_i94immi` should includes columns:
    - `travel_cicid`
    - `from_country_code`
    - `immi_country_code`
    - `arrival_port_code`
    - `immi_arrival_date`
    - `arrival_year`
    - `arrival_month`
    - `airline_mode_code`
    - `immi_state_code`
    - `departure_date`
    - `traveller_age`
    - `visatype_by_number`
    - `traveller_birth_year`
    - `traveller_sex`
    - `immi_flight_code`
    - `visatype_by_code`
    - `visa_type`

In [236]:
i94immi_df.show(3)

+---------+------+------+-------+-------------------+-----+------+-------+-------+-------------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
|    cicid|i94cit|i94res|i94port|       arrival_date|i94yr|i94mon|i94mode|i94addr|     departure_date|i94bir|i94visa|count|dtadfile|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|visa_type|
+---------+------+------+-------+-------------------+-----+------+-------+-------+-------------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
|5748517.0| 245.0| 438.0|    LOS|2016-04-30 00:00:00| 2016|     4|    1.0|     CA|2016-05-08 00:00:00|  40.0|    1.0|  1.0|20160430| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1| Business|
|5748518.0| 245.0| 438.0|    LOS|2016-04-30 00:00:00| 2016|     4|    1.0|     NV|2016-05-17 00:00:00|  32.0|    1.0|  1.0|20160430| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1| Business|
|5748519.0| 245.0| 438.0|    LOS|2016-04-30 00:00:00| 2016|     4|    1.0|     WA|2016-05-08 00:00:00|  29.0|    1.0|  1.0|20160430| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1| Business|
+---------+------+------+-------+-------------------+-----+------+-------+-------+-------------------+------+-------+-----+--------+-------+--------+------+------+-------+--------------+-----+--------+---------+
only showing top 3 rows

In [237]:
# Change to Spark SQl
i94immi_df.createOrReplaceTempView('fact_i94immi')

In [238]:
# Create fact table
fact_i94immi = spark.sql("""
        SELECT
            cicid as travel_cicid,
            i94cit as from_country_code,
            i94res as immi_country_code,
            i94port as arrival_port_code,
            arrival_date as immi_arrival_date,
            i94yr as arrival_year,
            i94mon as arrival_month,
            i94mode as airline_mode_code,
            i94addr as immi_state_code,
            departure_date,
            i94bir as traveller_age,
            i94visa as visatype_by_number,
            biryear as traveller_birth_year,
            gender as traveller_sex,
            fltno as immi_flight_code,
            visatype as visatype_by_code,
            visa_type
        FROM fact_i94immi
    """)

In [239]:
# Copy S3 URI = 's3a://dendcapstonetest/s3_outputs/'
# update this to your bucket name
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_i94immi/fact_i94immi.parquet'
# s3_parquet_output = './ws_outputs' + 'fact_i94immi/fact_i94immi.parquet'
# s3_parquet_output

parquet_outputs = './ws_parquet_outputs/' + 'fact_i94immi.parquet'
parquet_outputs

'./ws_parquet_outputs/fact_i94immi.parquet'

In [240]:
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_i94immi/fact_i94immi.parquet'
# parquet_outputs = ./ws_parquet_outputs/' + 'fact_i94immi.parquet'
fact_i94immi.write.mode("overwrite").parquet(parquet_outputs)

In [241]:
# fact_i94immi parquet files inventory
print("'fact_i94immi' parquet files inventory")
list_of_files = get_list_of_files(parquet_outputs)
for item in list_of_files:
    print(item)

'fact_i94immi' parquet files inventory
./ws_parquet_outputs/fact_i94immi.parquet/_SUCCESS
./ws_parquet_outputs/fact_i94immi.parquet/part-00000-3059b769-94f3-4853-b80c-88faaeabe5a4-c000.snappy.parquet
./ws_parquet_outputs/fact_i94immi.parquet/.part-00001-3059b769-94f3-4853-b80c-88faaeabe5a4-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_i94immi.parquet/.part-00000-3059b769-94f3-4853-b80c-88faaeabe5a4-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_i94immi.parquet/part-00001-3059b769-94f3-4853-b80c-88faaeabe5a4-c000.snappy.parquet
./ws_parquet_outputs/fact_i94immi.parquet/._SUCCESS.crc
./ws_parquet_outputs/fact_i94immi.parquet/part-00002-3059b769-94f3-4853-b80c-88faaeabe5a4-c000.snappy.parquet
./ws_parquet_outputs/fact_i94immi.parquet/.part-00002-3059b769-94f3-4853-b80c-88faaeabe5a4-c000.snappy.parquet.crc

##### Visa dim table

Input dataframe come from 
`visa_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(visa_cleaned_dataset)`

- `dim_visa` should includes columns:
    - `visatype_by_number`
    - `visatype_by_code`
    - `visa_category`

In [246]:
# Load cleaned dataset
visa_cleaned_dataset = "./visa_df_clean"
visa_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(visa_cleaned_dataset)

In [247]:
# Total rows
visa_df.count()

17

In [248]:
# Verify duplicate rows by 'i94visa' and 'visatype'
visa_df.select(['i94visa', 'visatype']).distinct().count()

17

In [250]:
# Verify visa_df unique
visa_df.distinct().count()

17

In [251]:
visa_df = visa_df.select(['i94visa', 'visatype', 'visa_type'])

In [253]:
# Create Spark SQL for dataframe manipulation
visa_df.createOrReplaceTempView('dim_visa')

In [254]:
# Create dim table
dim_visa = spark.sql("""
        SELECT
            i94visa as visatype_by_number,
            visatype as visatype_by_code,
            visa_type as visa_category
        FROM fact_i94immi
    """)

In [255]:
# Copy S3 URI = 's3a://dendcapstonetest/s3_outputs/'
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'dim_visa/dim_visa.parquet'
parquet_outputs = './ws_parquet_outputs/' + 'dim_visa.parquet'
parquet_outputs

'./ws_parquet_outputs/dim_visa.parquet'

In [256]:
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_i94immi/fact_i94immi.parquet'
dim_visa.write.mode("overwrite").parquet(parquet_outputs)

In [257]:
# dim_visa parquet files inventory
print("'dim_visa' parquet files inventory")
list_of_files = get_list_of_files(parquet_outputs)
for item in list_of_files:
    print(item)

'dim_visa' parquet files inventory
./ws_parquet_outputs/dim_visa.parquet/_SUCCESS
./ws_parquet_outputs/dim_visa.parquet/part-00000-4971d21c-776a-46b5-b137-7a5597da83c7-c000.snappy.parquet
./ws_parquet_outputs/dim_visa.parquet/part-00001-4971d21c-776a-46b5-b137-7a5597da83c7-c000.snappy.parquet
./ws_parquet_outputs/dim_visa.parquet/.part-00000-4971d21c-776a-46b5-b137-7a5597da83c7-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_visa.parquet/.part-00002-4971d21c-776a-46b5-b137-7a5597da83c7-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_visa.parquet/.part-00001-4971d21c-776a-46b5-b137-7a5597da83c7-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_visa.parquet/._SUCCESS.crc
./ws_parquet_outputs/dim_visa.parquet/part-00002-4971d21c-776a-46b5-b137-7a5597da83c7-c000.snappy.parquet

##### Flight dim table:

Input dataframe come from 
`flight_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(flight_cleaned_dataset)`

- `dim_immi_flight` should includes columns:
    - `flight_number`
    - `flight_brand`
    - `airport_city`

In [258]:
# Load cleaned data
flight_cleaned_dataset = "./flight_df_clean"
flight_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(flight_cleaned_dataset)

In [259]:
# Total rows
flight_df.count()

6122

In [260]:
# Verify duplicate rows by 'airline' and 'fltno'
flight_df.select(['airline', 'fltno']).distinct().count()

6122

In [261]:
# Drop duplicate by 'airline' and 'fltno'
flight_df = flight_df.dropDuplicates(['airline', 'fltno'])

In [262]:
# Verify visa_df unique
flight_df.distinct().count()

6122

In [263]:
flight_df = flight_df.select(['fltno', 'airline', 'i94port'])

In [264]:
# Create Spark SQL for dataframe manipulation
flight_df.createOrReplaceTempView('dim_immi_flight')

In [265]:
# Create dim table
dim_immi_flight = spark.sql("""
        SELECT
            fltno as flight_number,
            airline as flight_brand,
            i94port as airport_city
        FROM dim_immi_flight
    """)

In [266]:
# Copy S3 URI = 's3a://dendcapstonetest/s3_outputs/'
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'dim_immi_flight/dim_immi_flight.parquet'
parquet_outputs = './ws_parquet_outputs/' + 'dim_immi_flight.parquet'
parquet_outputs

'./ws_parquet_outputs/dim_immi_flight.parquet'

In [267]:
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_i94immi/fact_i94immi.parquet'
dim_immi_flight.write.mode("overwrite").parquet(parquet_outputs)

In [268]:
# dim_immi_flight parquet files inventory
print("'dim_immi_flight' parquet files inventory")
list_of_files = get_list_of_files(parquet_outputs)
for item in list_of_files:
    print(item)

'dim_immi_flight' parquet files inventory
./ws_parquet_outputs/dim_immi_flight.parquet/part-00013-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00053-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00080-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00123-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00090-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00193-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00183-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00063-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00074-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00089-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00113-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00060-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00016-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00185-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00035-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00038-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00024-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00179-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00079-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00188-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00036-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00101-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00166-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00080-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00042-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00026-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00094-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00098-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00097-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00189-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00072-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00144-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00018-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00091-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00048-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/_SUCCESS
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00126-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00184-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00111-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00104-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00044-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00098-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00006-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00017-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00133-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00163-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00175-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00003-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00032-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00030-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00153-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00129-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00125-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00048-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00069-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00107-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00195-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00009-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00082-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00190-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00049-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00097-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00139-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00183-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00176-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00187-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00037-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00138-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00018-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00145-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00113-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00168-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00090-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00040-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00057-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00033-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00118-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00010-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00051-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00096-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00170-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00151-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00077-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00002-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00173-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00136-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00014-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00139-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00137-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00115-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00134-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00015-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00182-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00138-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00031-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00035-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00148-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00092-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00071-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00165-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00162-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00120-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00003-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00042-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00089-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00184-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00087-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00101-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00056-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00189-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00196-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00160-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00199-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00004-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00041-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00102-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00036-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00083-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00108-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00198-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00149-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00043-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00140-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00180-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00182-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00025-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00066-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00142-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00047-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00126-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00155-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00123-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00190-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00070-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00164-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00093-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00148-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00055-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00013-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00199-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00166-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00071-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00053-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00155-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00179-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00005-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00020-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00034-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00043-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00195-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00052-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00151-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00150-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00061-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00117-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00082-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00110-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00056-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00197-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00140-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00197-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00159-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00124-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00095-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00135-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00052-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00086-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00062-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00061-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00038-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/.part-00120-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_flight.parquet/part-00134-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_flight.parquet/part-00194-20bacd3b-133c-483c-b141-e1b2c3db1a53-c000.snappy.parquet

##### Immigration travller dim table

Input dataframe come from 
`traveller_cleaned_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(traveller_cleaned_dataset)`

- `dim_immi_travaller` should includes columns:
    - `traveller_cicid`
    - `from_country_code`
    - `immi_country_code`
    - `arrival_port_code`
    - `arrival_date`
    - `airline_immi_code`
    - `desination_state_code`
    - `traveller_age`
    - `traveller_birth_year`
    - `traveller_sex`
    - `visatye_by_code`

In [270]:
# Load cleaned dataset
traveller_cleaned_dataset = "./traveller_df_clean"
traveller_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(traveller_cleaned_dataset)

In [271]:
# Total rows
traveller_df.count()

2377896

In [272]:
traveller_df.createOrReplaceTempView('dim_immi_travaller')

In [273]:
dim_immi_travaller = spark.sql("""
        SELECT
            cicid as traveller_cicid,
            i94cit as from_country_code,
            i94res as immi_country_code,
            i94port as arrival_port_code,
            arrival_date as arrival_date,
            i94mode as airline_immi_code,
            i94addr as desination_state_code,
            i94bir as traveller_age,
            biryear as traveller_birth_year,
            gender as traveller_sex,
            visatype as visatye_by_code
        FROM dim_immi_travaller
    """)

In [274]:
# Copy S3 URI = 's3a://dendcapstonetest/s3_outputs/'
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'dim_immi_travaller/dim_immi_travaller.parquet'
parquet_outputs = './ws_parquet_outputs/' + 'dim_immi_travaller.parquet'
parquet_outputs

'./ws_parquet_outputs/dim_immi_travaller.parquet'

In [275]:
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_i94immi/fact_i94immi.parquet'
dim_immi_travaller.write.mode("overwrite").parquet(parquet_outputs)

In [276]:
# dim_immi_travaller parquet files inventory
print("'dim_immi_travaller' parquet files inventory")
list_of_files = get_list_of_files(parquet_outputs)
for item in list_of_files:
    print(item)

'dim_immi_travaller' parquet files inventory
./ws_parquet_outputs/dim_immi_travaller.parquet/part-00004-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_travaller.parquet/_SUCCESS
./ws_parquet_outputs/dim_immi_travaller.parquet/.part-00000-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/.part-00005-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/part-00006-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_travaller.parquet/part-00005-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_travaller.parquet/part-00002-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_travaller.parquet/.part-00007-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/part-00000-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_travaller.parquet/.part-00004-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/part-00007-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_travaller.parquet/.part-00002-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/.part-00001-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/.part-00006-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/.part-00003-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/._SUCCESS.crc
./ws_parquet_outputs/dim_immi_travaller.parquet/part-00003-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet
./ws_parquet_outputs/dim_immi_travaller.parquet/part-00001-50c9d781-2887-43da-9a71-4e821419b051-c000.snappy.parquet

##### World Temperature fact table

Input dataframe `worldtempe_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(worldtempe_cleaned_dataset)`

- `fact_us_temperature` contains temperature records of US cities has been collect corresponse immigration data scope.
    - `dt`
    - `averagetemperature as avg_tempe`
    - `averagetemperatureuncertainty as avg_tempe_uncertain`
    - `city as measure_city`
    - `country as measure_country`
    - `latitude`
    - `longitude`
    - `dt_converted as measure_date`

In [288]:
worldtempe_cleaned_dataset = "./worldtempe_df_clean"
worldtempe_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv(worldtempe_cleaned_dataset)

In [289]:
# Create tableview for data manipulation
worldtempe_df.createOrReplaceTempView('fact_worldtempe')

In [290]:
# Verify table
spark.sql("""
        SELECT *
        FROM fact_worldtempe
    """).show(3)

+-------+-----------+------------------+-----------------------------+----------+-------------------+
|   city|tempe_month|averagetemperature|averagetemperatureuncertainty|tempe_year|       dt_converted|
+-------+-----------+------------------+-----------------------------+----------+-------------------+
|ABILENE|         11|              9.77|                         0.12|      1997|1997-11-01 00:00:00|
|ABILENE|         10|             18.48|                         0.26|      2000|2000-10-01 00:00:00|
|  AKRON|          2|              2.17|                         0.18|      1976|1976-02-01 00:00:00|
+-------+-----------+------------------+-----------------------------+----------+-------------------+
only showing top 3 rows

In [291]:
# Create fact table
spark.sql("""
        SELECT
            averagetemperature as avg_tempe,
            averagetemperatureuncertainty as avg_tempe_uncertain,
            city as measure_city,
            tempe_month as tempe_month,
            dt_converted as dt_converted,
            dt_converted as measure_date
        FROM fact_worldtempe
    """).createOrReplaceTempView('fact_worldtempe')

In [292]:
# Naming columns
spark.sql("""
    SELECT *
    FROM fact_worldtempe
""").show(3)

+---------+-------------------+------------+-----------+-------------------+-------------------+
|avg_tempe|avg_tempe_uncertain|measure_city|tempe_month|       dt_converted|       measure_date|
+---------+-------------------+------------+-----------+-------------------+-------------------+
|     9.77|               0.12|     ABILENE|         11|1997-11-01 00:00:00|1997-11-01 00:00:00|
|    18.48|               0.26|     ABILENE|         10|2000-10-01 00:00:00|2000-10-01 00:00:00|
|     2.17|               0.18|       AKRON|          2|1976-02-01 00:00:00|1976-02-01 00:00:00|
+---------+-------------------+------------+-----------+-------------------+-------------------+
only showing top 3 rows

In [293]:
# Naming columns
fact_worldtempe = spark.sql("""
    SELECT *
    FROM fact_worldtempe
""")

In [294]:
# Copy S3 URI = 's3a://dendcapstonetest/s3_outputs/'
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_worldtempe/fact_worldtempe.parquet'
# s3_parquet_output

parquet_outputs = './ws_parquet_outputs/' + 'fact_worldtempe.parquet'
parquet_outputs

'./ws_parquet_outputs/fact_worldtempe.parquet'

In [295]:
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_i94immi/fact_i94immi.parquet'
# fact_worldtempe.write.mode("overwrite").parquet(s3_parquet_output)
fact_worldtempe.write.mode("overwrite").parquet(parquet_outputs)

In [296]:
# fact_worldtempe parquet files inventory
print("'fact_worldtempe' parquet files inventory")
list_of_files = get_list_of_files(parquet_outputs)
for item in list_of_files:
    print(item)

'fact_worldtempe' parquet files inventory
./ws_parquet_outputs/fact_worldtempe.parquet/_SUCCESS
./ws_parquet_outputs/fact_worldtempe.parquet/part-00006-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet
./ws_parquet_outputs/fact_worldtempe.parquet/part-00002-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet
./ws_parquet_outputs/fact_worldtempe.parquet/.part-00002-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_worldtempe.parquet/.part-00006-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_worldtempe.parquet/.part-00000-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_worldtempe.parquet/part-00000-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet
./ws_parquet_outputs/fact_worldtempe.parquet/.part-00003-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_worldtempe.parquet/part-00004-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet
./ws_parquet_outputs/fact_worldtempe.parquet/.part-00001-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_worldtempe.parquet/part-00001-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet
./ws_parquet_outputs/fact_worldtempe.parquet/.part-00004-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_worldtempe.parquet/part-00003-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet
./ws_parquet_outputs/fact_worldtempe.parquet/._SUCCESS.crc
./ws_parquet_outputs/fact_worldtempe.parquet/.part-00005-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet.crc
./ws_parquet_outputs/fact_worldtempe.parquet/part-00005-2b7cea09-9325-4581-a831-870c444236be-c000.snappy.parquet

##### I94PORT dim table

Input dataframe `I94PORT_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv("i94port_staging")`

- `dim_port` contains list of airport allow immigration.
    - `port_code`
    - `city_name`
    - `state`

In [297]:
# Changing to SQL Spark tempview to create dim table
I94PORT_df.createOrReplaceTempView('dim_i94port')

In [299]:
dim_i94port = spark.sql("""
        SELECT
            i94port_valid_code as immi_port_code,
            i94port_city_name as immi_city_name,
            i94port_state_code as immi_state_code
        FROM dim_i94port
    """)

In [300]:
dim_i94port.show(5)

+--------------+--------------------+---------------+
|immi_port_code|      immi_city_name|immi_state_code|
+--------------+--------------------+---------------+
|           ALC|               ALCAN|             AK|
|           ANC|           ANCHORAGE|             AK|
|           BAR|BAKER AAF - BAKER...|             AK|
|           DAC|       DALTONS CACHE|             AK|
|           PIZ|DEW STATION PT LA...|             AK|
+--------------+--------------------+---------------+
only showing top 5 rows

In [301]:
# Copy S3 URI = 's3a://dendcapstonetest/s3_outputs/'
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'dim_i94port/dim_i94port.parquet'
# s3_parquet_output

parquet_outputs = './ws_parquet_outputs/' + 'dim_i94port.parquet'
parquet_outputs

'./ws_parquet_outputs/dim_i94port.parquet'

In [302]:
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_i94immi/fact_i94immi.parquet'
# dim_i94port.write.mode("overwrite").parquet(s3_parquet_output)
dim_i94port.write.mode("overwrite").parquet(parquet_outputs)

In [303]:
# dim_i94port parquet files inventory
print("'dim_i94port' parquet files inventory")
list_of_files = get_list_of_files(parquet_outputs)
for item in list_of_files:
    print(item)

'dim_i94port' parquet files inventory
./ws_parquet_outputs/dim_i94port.parquet/.part-00000-3f505e7d-cd90-4112-b014-ea0458402cc4-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_i94port.parquet/_SUCCESS
./ws_parquet_outputs/dim_i94port.parquet/part-00000-3f505e7d-cd90-4112-b014-ea0458402cc4-c000.snappy.parquet
./ws_parquet_outputs/dim_i94port.parquet/._SUCCESS.crc

##### I94ADDR dim table

Input dataframe `I94ADDR_df = spark.read.options(inferSchema="true", delimiter=",", header = "true").csv("i94addr_staging")`

- `dim_i94addr` airline, flight number, flight time. (not yet)
    - `immi_state_code` 
    - `immi_state_name`

In [304]:
# Changing to SQL Spark tempview to create dim table
I94ADDR_df.createOrReplaceTempView('dim_i94addr')

In [307]:
dim_i94addr = spark.sql("""
        SELECT
            i94addr_valid_code as immi_state_code,
            i94addr_valid_value as immi_state_name
        FROM dim_i94addr
    """)

In [308]:
# Copy S3 URI = 's3a://dendcapstonetest/s3_outputs/'
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'dim_i94addr/dim_i94addr.parquet'
# s3_parquet_output

parquet_outputs = './ws_parquet_outputs/' + 'dim_i94addr.parquet'
parquet_outputs

'./ws_parquet_outputs/dim_i94addr.parquet'

In [309]:
# s3_parquet_output = 's3a://dendcapstonetest/s3_outputs/' + 'fact_i94immi/fact_i94immi.parquet'
# dim_i94addr.write.mode("overwrite").parquet(s3_parquet_output)
dim_i94addr.write.mode("overwrite").parquet(parquet_outputs)

In [310]:
# dim_i94addr parquet files inventory
print("'dim_i94addr' parquet files inventory")
list_of_files = get_list_of_files(parquet_outputs)
for item in list_of_files:
    print(item)

'dim_i94addr' parquet files inventory
./ws_parquet_outputs/dim_i94addr.parquet/_SUCCESS
./ws_parquet_outputs/dim_i94addr.parquet/.part-00000-5f791b5d-549a-402b-8bcf-d94a7934852e-c000.snappy.parquet.crc
./ws_parquet_outputs/dim_i94addr.parquet/._SUCCESS.crc
./ws_parquet_outputs/dim_i94addr.parquet/part-00000-5f791b5d-549a-402b-8bcf-d94a7934852e-c000.snappy.parquet

#### 3.2 Mapping Out Data Pipelines

The pipeline steps are described below:
- Load raw datasources:
    - `./sas_data` contains I94 Immigration datasource.
    - `../../data2/GlobalLandTemperaturesByCity.csv` contains World Temperature datasource.
    - `I94_SAS_Labels_Descriptions.SAS` contains dictionary of `I94PORT` `I94ADDR` `I94VISA` `I94MODE` `I94CIT&RES` datasource.
- Describe and Gather Data on:
    - `i94immi_df` as Spark dataframe.
    - `worldtempe_df` as Pandas dataframe.
    - `I94PORT_df` `I94ADDR_df` `I94VISA_df` `I94MODE_df` as a Spark dataframes.
- Clean and then staging dataframe:
    - `i94immi_df` cleaned and staging as a csv format in dir `i94immi_df_clean`.
    - `worldtempe_df` cleaned and staging as a csv format in dir `worldtempe_df_clean`.
    - `I94PORT` cleaned and staging as a csv format in dir `I94PORT_sas_label_validation`.
    - `I94ADDR` cleaned and staging as a csv format in dir `I94ADDR_sas_label_validation`.
- Transform staging tables to fact and dim tables.
    - `fact_i94immi` out to parquet files saved at `./ws_parquet_outputs/fact_i94immi.parquet`
    - `fact_worldtempe` out to parquet files saved at `./ws_parquet_outputs/fact_worldtempe.parquet`
    - `dim_visa` out to parquet files saved at `./ws_parquet_outputs/dim_visa.parquet`
    - `dim_immi_flight` out to parquet files saved at `./ws_parquet_outputs/dim_immi_flight.parquet`
    - `dim_immi_travaller` out to parquet files saved at `./ws_parquet_outputs/dim_immi_travaller.parquet`
    - `dim_i94port` out to parquet files saved at `./ws_parquet_outputs/dim_i94port.parquet`
    - `dim_i94addr` out to parquet files saved at `./ws_parquet_outputs/dim_i94addr.parquet`

### Step 4: Run Pipelines to Model the Data

#### 4.1 Create the data model
Run steps of pipeline with a python: `etl-v04b.py`

#### 4.2 Data Quality Checks

Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:

* Integrity constraints on the relational database (e.g., unique key, data type, etc.).
* Unit tests for the scripts to ensure they are doing the right thing.
* Source/Count checks to ensure completeness.

- Create data quality check for fact and dim tables: `qualityCheck-v02.py`

- Run quality checks tables:
    - `fact_i94immi`
    - `fact_worldtempe`
    - `dim_visa`
    - `dim_immi_flight`
    - `dim_immi_travaller`
    - `dim_i94port` 
    - `dim_i94addr`
- Check tables relationship
    - `check_airport_traffic` Count air flight traffic to a city.
    - `check_immi_city` Count immigration volume to a city.
    - `check_tempe_immi_volume` Relation between temperature and immigration travel to a city.

#### 4.3 Data dictionary

- The fact table `fact_i94immi` should includes columns:
    - `travel_cicid` as `double` datatype.
    - `from_country_code` as `double` datatype.
    - `immi_country_code` as `double` datatype.
    - `arrival_port_code` as `string` datatype.
    - `immi_arrival_date` as `timestamp` datatype.
    - `arrival_year` as `int` datatype.
    - `arrival_month` as `int` datatype.
    - `airline_mode_code` as `double` datatype.
    - `immi_state_code` as `string` datatype.
    - `departure_date` as `timestamp` datatype.
    - `traveller_age` as `double` datatype.
    - `visatype_by_number` as `double` datatype.
    - `traveller_birth_year` as `double` datatype.
    - `traveller_sex` as `string` datatype.
    - `immi_flight_code` as `string` datatype.
    - `visatype_by_code` as `string` datatype.
    - `visa_type` as `string` datatype.

- The fact table `fact_worldtempe` should includes columns:
    - `avg_tempe` as `double` data type.
    - `avg_tempe_uncertain` as `double` data type.
    - `measure_city` as `string` data type.
    - `tempe_month` as `int` data type.
    - `dt_converted` as `timestamp` data type.
    - `measure_date` as `timestamp` data type.

Dim tables

- `dim_visa` contains visa informations includes columns.
    - `visatype_by_number` as `double` datatype.
    - `visatype_by_code` as `varchar` datatype.
    - `visa_category` as `varchar` datatype.

- `dim_immi_flight` contains flight information includes columns.
    - `flight_number` as `varchar` datatype.
    - `flight_brand` as `varchar` datatype.
    - `airport_city` as `varchar` datatype.

- `dim_immi_travaller` contains immigration traveller informations includes columns.
    - `traveller_cicid` as `double` data type
    - `from_country_code` as `double` data type
    - `immi_country_code` as `double` data type
    - `arrival_port_code` as `string` data type
    - `arrival_date` as `timestamp` data type
    - `airline_immi_code` as `double` data type
    - `desination_state_code` as `string` data type
    - `traveller_age` as `double` data type
    - `traveller_birth_year` as `double` data type
    - `traveller_sex` as `string` data type
    - `visatye_by_code` as `string` data type

- `dim_i94port` list of US registered immigration port code, airport name, city.
    - `immi_port_code` as `varchar` datatype
    - `immi_city_name` as `varchar` datatype
    - `immi_state_code` as `varchar` datatype

- `dim_i94addr` list of US state.
    - `immi_state_code` as `varchar` datatype
    - `immi_state_name` as `varchar` datatype

### Step 5: Complete Project Write Up

- Clearly state the rationale for the choice of tools and technologies for the project.
    - Pandas was chosen since it can easily handle dataframe either input or output csv. Easy to install and config Pandas on local computer to push up progress with SDK as VScode or Atom.
    - Spark were chosen since capable of handling support file formats (ex. sas7bdat, SAS) with large volume of data.
    - Dataframes of Spark or Pandas can be converted to each other.
    - Spark SQL was chosen since capable of processing the large input files into dataframes and manipulated via commom SQL JOIN, modify table structure, aggregate data values.

- Propose how often the data should be updated and why.
    - Depending on the purpose of use to make period data analysis suggestions.
        * Yearly: To have data for data analysis education
        * Monthly: To have a basis for predicting seasonal travller traffic.
        * Weekly: To have a basis for serving medical purposes (tracing infectious diseases like COVID, flu, ...).

- Write a description of how you would approach the problem differently under the following scenarios the data was increased by 100x:
    - For the case that need to be met in terms of periodic timing, 100x is a really big volume to meet target be on time. For this scenarios, we should make design a region distributed big data for collecting, processing, modeling. This distributed big data should be many cluster on cloud-based system. Data will be split to chunks, every chunks being processed by a batch-job.
    - For the case no worry about time, we can process the data as a single batch job. We could use existing cloud-based bigdata processing solution as datalake, datawarehouse...

- The data populates a dashboard that must be updated on a daily basis by 7am every day.
    - For specific time update dashboard visualization, we can apply pipeline automation. Airflow is a good candidate cause of capacities schedule, automation, processing batch-job.
    - The configurations of cloud-based processing system is a key factor to speed up the analysis progress.

- The database needed to be accessed by 100+ people.
    - We could consider publishing the parquet files to read-ony HDFS. 
    - In scenarios need  to meet high frequency SQL queries we consider place a midleware (ex. redis, memcahe, memsql) layer in the front of database.