In [3]:
# Do all imports and installs here - Done
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
import pandas as pd
import re
import configparser
import os

In [7]:
i94immi_dataset = 'immigration_data_sample.csv'

In [8]:
i94immi_df = pd.read_csv(i94immi_dataset,sep=",")

In [16]:
i94immi_df.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'arrdate', 'i94mode', 'depdate',
       'i94visa', 'visatype'],
      dtype='object')

In [17]:
# Show dataset sample records
i94immi_df.head()

,cicid,i94yr,i94mon,i94cit,arrdate,i94mode,depdate,i94visa,visatype
0,4084316.0,2016.0,4.0,209.0,20566.0,1.0,20573.0,2.0,WT
1,4422636.0,2016.0,4.0,582.0,20567.0,1.0,20568.0,2.0,B2
2,1195600.0,2016.0,4.0,148.0,20551.0,1.0,20571.0,2.0,WT
3,5291768.0,2016.0,4.0,297.0,20572.0,1.0,20581.0,2.0,B2
4,985523.0,2016.0,4.0,111.0,20550.0,3.0,20553.0,2.0,WT

In [18]:
i94immi_columns = ["cicid","i94yr","i94mon","i94cit","arrdate","i94mode","depdate","i94visa", 'visatype']
i94immi_df = i94immi_df[i94immi_columns]